/* Header styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; }

main {
    flex: 1;
}
#usernamePlaceholder {
    font-size: 16px; 
    margin-right: 70px;
}


/* Main content styles */
/* Main content styles */
.main-content {
    display: flex;
    width: 100%;
    padding: 50px;
    flex-direction: row;
    justify-content: space-around;
}

.upload-section {
    flex: 0.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.upload-box {
    border: 2px dashed #ccc;
    height: 250%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-box:hover {
    border-color: #333;
}

.upload-label {
    display: block;
    margin-bottom: 10px;
}

#video-upload {
    display: none;
}

.buttons-section {
    padding: 20px;
    flex:0.3;
}
.btn {
    background: #4e4f4f;
    background-image: -webkit-linear-gradient(top, #4e4f4f, #080808);
    background-image: -moz-linear-gradient(top, #4e4f4f, #080808);
    background-image: -ms-linear-gradient(top, #4e4f4f, #080808);
    background-image: -o-linear-gradient(top, #4e4f4f, #080808);
    background-image: linear-gradient(to bottom, #4e4f4f, #080808);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #fff2ff;
    font-size: 20px;
    padding: 12px 39px 12px 40px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #838587;
    background-image: -webkit-linear-gradient(top, #838587, #3d3d3d);
    background-image: -moz-linear-gradient(top, #838587, #3d3d3d);
    background-image: -ms-linear-gradient(top, #838587, #3d3d3d);
    background-image: -o-linear-gradient(top, #838587, #3d3d3d);
    background-image: linear-gradient(to bottom, #838587, #3d3d3d);
    text-decoration: none;
  }

.analysis-options {
    display: flex;
    flex-direction: column;
}

.option-box {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.option-box:hover {
    background-color: #e0e0e0;
}

.output-video-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output-video {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.download-button {
    text-align: center;
}


/* Footer styles */
footer {
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: auto;
}

/* Hide default file input button */
.video-upload-input {
    display: none;
} 

    /* Custom styling for the footer */
    footer {
        font-size: 10px; /* Adjust the font size as needed */
    }

    .bottom-footer {
        padding: 10px 0; /* Add some padding to the bottom footer for spacing */
    }

    .footer-title {
        font-size: 15px; /* Adjust the font size of footer titles */
    }
    .footer-social-links i {
        font-size: 10px; /* Adjust the size as needed */
    }
    

    .footer-links li {
        font-size: 10px; /* Adjust the font size of footer links */
        list-style-type: none;/* Remove default list styles */ 
        margin-bottom: 5px; /* Add margin between list items for spacing */
    }

    .footer-links a {
        color: #fff9f9; /* Change the color of footer links */
        text-decoration: none; /* Remove underlines from links */
    }

    .footer-links a:hover {
        color: #fff0f0; /* Change the color of links on hover */
    }

    .footer-social-links li {
        font-size: 18px; /* Adjust the font size of social media icons */
        display: inline-block; /* Display social media icons inline */
        margin-right: 10px; /* Add margin between social media icons for spacing */
    }

    .footer-social-links a {
        color: #e2d2d2; /* Change the color of social media icons */
        text-decoration: none; /* Remove underlines from links */
    }

    .footer-social-links a:hover {
        color: #fff0f0; /* Change the color of social media icons on hover */
    }


